*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height:100vh;
    background:#6aa84f;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:900px;
    background:#fff;
    border-radius:25px;
    display:flex;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* LEFT PANEL */
.left{
    width:45%;
    background:#0a3d62;
    color:#fff;
    padding:40px;
    border-radius: 0 120px 120px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.left h1{
    font-size:36px;
    margin-bottom:15px;
}

.left p{
    font-size:14px;
    margin-bottom:30px;
    line-height:1.5;
}

.left button{
    width:150px;
    padding:10px;
    background:transparent;
    border:2px solid #fff;
    color:#fff;
    cursor:pointer;

}


/* RIGHT PANEL */
.right{
    width:55%;
    padding:40px;
}

.right h2,h5{
    text-align:center;
    margin-bottom:15px;
}

 
.social{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:15px;
}

.social div{
    width:40px;
    height:40px;
    border:1px solid #ccc;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.or{
    text-align:center;
    font-size:14px;
    margin:15px 0;
    font-weight: bold;
}

.input-box{
    margin-bottom:15px;
}

.input-box input{
    width:100%;
    padding:12px;
    border:none;
    background:#f0f2f5;
    border-radius:5px;
    font-size:14px;
}

.signup{
    width:140px;
    padding:10px;
    background:#c4d63b;
    border:none;
   
    cursor:pointer;
    margin-top:10px;
}