*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    background: #e9edf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 380px;
    background: #f5f6f8;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.form-box h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.type{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.type label{
    font-size: 14px;
    color: #444;
}

.input-group{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.icon{
    background: #2c7be5;
    color: #fff;
    padding: 10px 12px;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

.input-group input{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}

.gender{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 15px 0;
    font-size: 14px;
}

.terms{
    font-size:12px;
    color:#555;
    margin-bottom:20px;
   
}

.terms a{
    color:#2c7be5;
    text-decoration:none;
}

.btn{
    width:120px;
    padding: 10px 17px;
    background:#2c7be5;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
   

}

.btn:hover{
    background:#1b64c5;
} 

.row{
    display: flex;
    justify-content: space-between; /* left & right */
    align-items: center;            /* vertical center */
}