* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT */
.left {
  width: 55%;
}

.image {
  width: 280px;
  height: 220px;
  margin-bottom: 30px;
}

.image img{
  border-radius: 50px;
}


.left h1 {
  font-size: 34px;
  line-height: 1.3;
}

.left span {
  color: #ff4d6d;
  font-weight: bold;
}

/* RIGHT */
.right {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.right h2 {
  margin-bottom: 20px;
  font-weight: normal;
}

input {
  background: #121212;
  border: 1px solid #262626;
  padding: 12px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 6px;
}

input::placeholder {
  color: #8e8e8e;
}

.login {
  background: #0095f6;
  border: none;
  padding: 12px;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.forgot {
  color: #0095f6;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 15px;
}
.fb{
  background: none;
  border: 1px solid #6f7375;
  color: #0095f6;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 8px;
 
}

.create {
  background: none;
  border: 1px solid #0095f6;
  color: #0095f6;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
}

